body {
    margin: 0;

    height: 100vh;
    background-color: black;
}
header {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(0, 255, 42);

}

.cal {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
#resu {
    background-color: white;
    border: 1px solid black;
    width: 290px;
    height: 32px;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    margin: 25px auto;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.623);

}

.pai-img {
    text-align: center;
    width: 80%;
}

img {
    width: 6%;
    margin-top: 10px;
    margin: 15px;
}

.calculadora-pai {
    height: 100vh;
    margin-top: 5%;
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background-color: rgba(166, 255, 0, 0.897);
}

.form {
    width: 330px;
    background-color: yellow;
    height: 330px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.671);
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 8px;
    height: 420px;
}

.c-pai {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 325px;

}

.botao {
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    border: 1px solid white;
    height: 45px;
    font-weight: bold;
    font-size: 21px;
    padding: 9px;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.623);
    

}
.botao:hover {
    background-color: rgba(0, 0, 0, 0.445);
    transform: scale(0.9);
    transition: all 0.5s;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width:1200px) {

    header {
        width: 100%;
    }

    img {
        width: 45px;
        margin: 5px 2px;
        margin-top: 20px;
    }

}
@media screen and (max-width:720px) {

    header,.calculadora-pai {
        margin: 0 auto;
        width: 70%;
    }
    .form, #resu{
        width: 80%;
    }
    .pai-img{
        width: 100%;
    }

    img {
        width: 45px;
        margin: 5px 2px;
        margin-top: 20px;
    }


}
@media screen and (max-width:500px) {

    header,.calculadora-pai {
        margin: 0 auto;
        width: 95%;
    }
    .form, #resu{
        width: 90%;
    }
    .pai-img{
        width: 100%;
    }

    img {
        width: 45px;
        margin: 5px 2px;
        margin-top: 20px;
    }


}

@media screen and (max-width:330px) {

    header,.calculadora-pai {
        margin: 0 auto;
        width: 100%;
    }
    .form, #resu{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .pai-img{
        width: 100%;
    }

    img {
        width: 45px;
        margin: 5px 2px;
        margin-top: 20px;
    }


}